.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgba(21, 120, 17, 0.85);
  height: 70px;
  padding: 20px;
  color: rgb(205,170,0);
  font-size: 120%;
  text-shadow: 2px 2px rgb(1,1,1);
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
