.App {
  /* text-align: center; */
  background-color: rgb(255,255,255);
  margin: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgba(21, 120, 35, 0.85);
  height: 80px;
  padding: 20px;
  color: rgb(202,168,0);
  font-family: 'Roboto Slab', serif;
  font-size: 115%;
  text-shadow: 2px 2px rgb(1,1,1);
  margin-bottom: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
