.App {
  /* text-align: center; */
  background-color: rgb(255,255,255);
  margin: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgba(21, 120, 35, 0.85);
  height: 100px;
  padding: 5px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

.App-title {
  margin-left: 20px;
  font-size: 2.4em;
  color: rgb(205,175,0);
  font-family: 'Roboto Slab', serif;
  text-shadow: 1.5px 1.5px rgb(1,1,1);
}

.App-body, .Nav {
  margin-left: 20px;
  padding: 0;
  font-family: 'Robot Slab', sans-serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
