table {
  font-family: 'Quicksand', sans-serif;
  word-wrap:break-word;
  /* border-collapse: collapse; */
}

thead {
  color: rgb(255,255,255);
  text-shadow: 0.5px 0.5px #a67c00;
  background-color: rgba(21, 120, 35, 0.6);
  border-bottom: 0.8px solid rgba(21, 120, 35, 1);

}

th {
  padding: 3px 9px;
}

table th, table td {
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-row-data {
  font-size: 0.9em;
  border-bottom: 1px solid #d0d0d0;
}

@media screen and (max-width: 700px) {
  tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border: 1px solid rgba(3,3,3,0.2);
  }
}
